# Dependencies
node_modules/
__pycache__/
*.pyc

# Build
build/
dist/
*.egg-info/

# IDE
.idea/
.vscode/
*.iml

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
*.lock

# Environment
.env
*.keystore

# OS
.DS_Store
Thumbs.db

# Database
*.db
*.sqlite3